<template name = "CustomerItem">
  {{>Popup text=value.name
              afId=afId
              collection=collections.companies 
              document=../CompanyInfo
              field=fieldName
              setArrayItems=true}}
    <a href="#" class="text-danger" data-action="remove-customer">
      <i class="fa fa-trash"></i>
    </a>
</template>

<template name="Customers">
  <a href="#" class="text-primary add-customer">
    <i class="fa fa-plus-square fa-2x"></i>
  </a>

  <div class="row">
    <div class="col-md-4 col-lg-4">
      <div class="customer-popover fade right in">
        <div class="popover-content">
          <div class="row">
            <div class="col-md-8 col-lg-8">
              <input type="text" class="form-control" id="customer-input" placeholder=" Input customer Name">
            </div>
            <div class="col-md-4 col-lg-4">
              <button type="submit" class="btn btn-default add-customer-btn">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{# each allCust}}
    <h5><b>{{>CustomerItem}}</b></h5>
  {{/ each}}
</template>
